{% extends "main.html" %}
{% block content %}

    <div class="row">
        
        <div id="item-list" class="eight columns">
            {% if user %}
            <div class="admin-area">
                <h4>Admin Options</h4>
                <a href="{{ url_for('newItemHandler') }}" class="button button-primary">Add Item</a>
                <a href="{{ url_for('newCategoryHandler') }}" class="button button-warning">Add Category</a>
            </div>
            {% endif %}
            <h2>Recent Items</h2>
            <ul>
            {% for item in items %}
                <li>
                    <a href="{{ url_for('viewItemHandler', item_id = item.id) }}">{{ item.name }}</a>
                </li>
            {% endfor %}
            </ul>
            <a href="{{ url_for('itemListHandler') }}" class="button button-primary">View All</a>
        </div>
        
        <div id="category-list" class="four columns">
            <h2>Categories</h2>
            <ul class="">
            {% for cat in cats %}
                <li>
                    <a href="{{ url_for('itemsByCategoryHandler', cat_id = cat.id) }}">{{cat.name}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        
    </div>
    
{% endblock %}